XSDs/AssemblyReference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Reference" type="AssemblyReference">
		<xs:annotation>
			<xs:documentation>Root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AssemblyReference">
		<xs:all>
			<xs:element name="HintPath" type="xs:string" />
		</xs:all>
		<xs:attribute name="Include" use="required"/>
		<xs:attribute name="Condition" use="optional"/>
	</xs:complexType>
</xs:schema>
